@import url(fonts.css);
@import url(reset.css);

.graphics__wrapper {
    background-color: aquamarine;
}

.graphics__container {
    max-width: 1200px;
    box-sizing: content-box;
    margin-inline: auto;
    padding: 50px 0;
    font-family: 'NinaC';
    font-size: 40px;
}